@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

:root {
    --font-family: 'Wallpoet', cursive;

    --gradient-text: linear-gradient(90deg, rgba(183, 185, 255, 1) 0%, rgba(43, 65, 200, 1) 100%);

    --color-nicelight:#f2f2f2;
    --color-bg: #b3e2f8;
    --color-text: #4f320e;
    --color-primary: #85c9f9;
    --color-secondary: #e5fbff;
    --color-accent: #457aff;
    --color-grey-comment: #9b9eaccb;
}