.photos-container {
    display: flex;
    width: 100%;
    margin: 2rem 0;
    padding: 1rem 35px;
    
    justify-content: center;
    align-items: center;
    /* max-width: 85%; */
    
    /* border: 2px solid red; */
}
.carousel {
    display: grid;
    margin: 1rem;

    grid-auto-flow: column;
    grid-auto-columns: calc((100%/4) - 12px);
    gap: 1rem;
    overflow: hidden;
    transition: transform 0.3s ease;

    border: 2px solid blue;
}
.card{
    /* try to maintain a 4:3 aspect ratio */
    /* https://calculateaspectratio.com/16-9-calculator */
    display: flex;
    position: relative;
    height: 15rem;
    width: 27rem;

    
    justify-content: center;
    align-items: center;
    
    list-style: none;
    background: #fff;
    
    border-radius: 16px;
}

.carousel .card :hover {
    height: auto;
}
.card img{
    height: 19rem;
    width: 100%;
    object-fit: cover;

    border: 2px solid black;
    border-radius: 8px;
}