.main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: 70vh;
    /* width: 60vw; */

    margin: 3rem 2rem;

    /* outline: 2px dotted purple; */
}
.title-container {
    /* outline: 2px dotted red; */

}
.title {
    font-size: 3.5rem;
    /* outline: 2px dotted purple; */
}
.title h1{
    font-size: 3rem;
}
.title-container p {
    font-size: 18px;
    font-weight: lighter;
    /* color: var(--color-grey-comment); */
}
.highlight-dot {
    color: var(--color-accent);
}
/* .esteinline-white {
    color: white;
} */