/* welcome section of the page (usually what the user sees when landing) */
.welcome-container {
    display: flex;
    /* position: relative; */
    height: auto;
    width: 80%;

    /* this only justifies and aligns the description-div */
    justify-content: center;
    align-items: center;

    padding: 3rem 0rem ;

    /* border: 2px solid red; */
    margin: 1rem 0;

}
.welcome-description {
    text-align: center;
    font-size: 1.5rem;
    max-width: 100ch;
}