/* welcome section of the page (usually what the user sees when landing) */
.welcome-container {
    /* position: relative; */
    height: auto;
    display: flex;
    width: 80%;

    padding: 1.7rem 0rem ;

    /* this only justifies and aligns the description-div */
    justify-content: center;
    align-items: center;
}
.welcome-description {
    font-size: 1.5rem;
    max-width: 100ch;
    text-align: center;
}