/* Description of the company or the services maybe */
.aboutus-container{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin: 2rem 0;
    padding: 1.7rem 0;
    
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid red;

    
}

.snowflake-icon_container {
    --num-columns: 6;
    --num-rows: 5;
    --square-dimension: 100px;
    --gap:10px;
    
    padding: 0 var(--gap);
    display: grid;

    /* repeat({numCOL/ROW} , {width} */
    grid-template-columns: repeat(var(--num-columns), minmax(var(--square-dimension), 1fr));
    grid-template-rows: repeat(var(--num-rows), minmax(var(--square-dimension), 1fr));
    gap: var(--gap);
}
.snowflake-icon-big img{
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    /* grid-template-rows: 100px; */
    height: 100px;
    width: 100px;

    /* transition:
    duration
    timingFunction
    delay
     */
    transition: 0.5s ease 0s;
}
.snowflake-icon-big img:hover {
    transform: scale(1.1, 1.1);
}
.snowflake-icon-small, .snowflakeAnimation img{
    height: 50px;
    width: 50px;

    /* transition: transform 0.5s ease 0s; */
}
.snowflake-icon-small, .reverseSnowflakeAnimation img {
    height: 50px;
    width: 50px;
}

/* DESCRIPTION CONTAINER */
.description_container {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.description-title {
    padding: 3rem 0;
}
.description-abtus {
    max-width: 60ch;
    line-height: 2rem;
    text-align: center;
}

/* ANIMATION CLASSES*/
@keyframes snowflakeMovement {
    
    0% {
        transform: rotate(0.025turn);
    }
    50% {
        transform: rotate(-0.025turn);
    }
    100% {
        transform: rotate(0.025turn);
    }
}
@keyframes reverseMovement {
    0% {
        transform: rotate(-0.025turn);
    }
    50% {
        transform: rotate(0.025turn);
    }
    100% {
        transform: rotate(-0.025turn);
    }
}

.snowflakeAnimation {
    /* animation: 
    name
    duration
    timingFunction
    delay
    iterationCount
    direction
    fillMode */
    animation: snowflakeMovement 10s ease-in-out 0s infinite normal both;
}
.reverseSnowflakeAnimation {
    animation: reverseMovement 10s ease-in-out 0s infinite normal both;

}